<footer id="footer">
	<div class="container-fluid bg-dark p-4">
		<a class="mx-2" href="https://github.com/howdyai/botkit-starter-web">Starter Kit Documentation</a>
		<a class="mx-2" href="https://botkit.ai/docs">Botkit SDK Documentation</a>
	</div>
</footer>
