<div class="container">
    <div class="col-xs-12" style="height:10vh;"></div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron-fluid">
                        <h1>This is your test bot Carl</h1>
                    </div>
        </div>
    </div>

    <div class="col-xs-12" style="height:10vh;"></div>
    <div class="row ">
        <div class="col-sm-12 col-md-3 col-lg-4"></div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div id="homepage_bot">
                <iframe id="botkit_client" src="/chat.html"></iframe>
            </div>
        </div>
        
    </div>

    <div class="col-xs-12" style="height:10vh;"></div>

    <div class="row ">
        <div class="col-12 text-center">
           <a class="btn btn-lg btn-purple text-light" href="/chat.html" role="button">Make me full screen</a>
        </div>
    </div>

    <div class="col-xs-12" style="height:10vh;"></div>

    <div class="row">
        <div class="" > 
            <div id="welcome">
                <h1>I'm a bot!</h1>
                <p><a href="/chat.html">Make me full screen</a></p>
                <p><a href="/embed">Embed me in a web site</a></p>
                <p><a href="https://github.com/howdyai/botkit-starter-web">Starter Kit Documentation</a></p>
                <p><a href="https://botkit.ai/docs">Botkit SDK Documentation</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/embed.js"></script>
<script>
	Botkit.boot({});
</script>