<div class="container">
    <div class="col-xs-12" style="height:10vh;"></div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron-fluid text-center">
				<h1>This is your test bot Carl</h1>
			</div>
        </div>
    </div>

    <div class="col-xs-12" style="height:2vh;"></div>
	
    <div class="row">
		<div class="m-0 mx-auto">
			<div id="homepage_bot">
				<iframe id="botkit_client" src="/chat.html"></iframe>
			</div>
		</div>
    </div>

    <div class="col-xs-12" style="height:2vh;"></div>

    <div class="row ">
        <div class="col-12 text-center">
			<a class="btn btn-sm btn-purple text-white m-1" href="/chat.html">Make me full screen</a>
			<a class="btn btn-sm btn-purple text-white m-1" href="/embed">Embed me in a web site</a>
        </div>
    </div>

    <div class="col-xs-12" style="height:10vh;"></div>
</div>
<script src="/embed.js"></script>
<script>
	Botkit.boot({});
</script>